@use '../../styles/helpers/' as *;

.counter-icon {
  &__inner {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__count {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    padding: 2px;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    background-color: #d50c0c;
    border-radius: 50%;

    // Защита от "сплющивания" при двузначных числах
    // Если цифр будет 3+, круг превратится в аккуратную таблетку
    border-radius: 10px;
    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
    pointer-events: none;

    &.is-hidden {
      opacity: 0;
      transform: scale(0.5);
    }
  }
}

/* 
<button
  type="button"
  data-popup-link="popup-cart"
  class="header__action header__card card"
  aria-label="Open card"
  title="Open card"
>
  <div class="card__inner">
    <img
      src="assets/img/svg/card.svg"
      alt="card"
      class="header__img"
      width="40"
      height="40"
    />
    <span class="card__count">0</span>
  </div>
</button>
*/
