@use '../../styles/helpers/' as *;

.products {
  @include adaptive-clamp('padding-top', 120, 80);
  @include adaptive-clamp('padding-bottom', 60, 20);

  &__header {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
