@use '../../styles/helpers/' as *;

.products {
  @include adaptive-clamp('padding-top', 120, 80);
  @include adaptive-clamp('padding-bottom', 60, 20);

  &__header {
    margin-bottom: rem(40);
    font-size: 22px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
}
