@use '../helpers' as *;

.articles {
  &__header-block {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }
}

.article {
  &__img {
    width: 370px;
    height: 247px;
  }

  &__bottom {
    padding: 10px;
    padding-top: 30px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }
}
