@use '../helpers/' as *;

.none {
  display: none;
}

.error {
  width: 400px;
  margin: 20px auto;
  padding: 30px;
  font-size: 20px;
  color: white;
  background-color: #606060;
  border-radius: 15px;
}

.error p {
  text-align: center;
}

.error p a {
  color: white;
}

.h1 {
  padding: 20px;
  text-align: center;
}

.basket {
  position: absolute;
  top: 20px;
  right: 20px;
}

.basket__inner {
  position: relative;
}

.basket__count {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 25px;
  padding: 3px;
  text-align: center;
  color: white;
  background-color: #ff3b30;
  border-radius: 50%;
}

.home {
  position: absolute;
  top: 16px;
  right: 60px;
}

// ***********

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin: 20px 0;
}

.cart__product {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.cart__del-card {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

.cart__img img {
  width: 100px;
}

.cart__title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.cart__block-btns {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 0 10px;
}

.cart__plus,
.cart__count,
.cart__minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid grey;
}

.cart__plus,
.cart__minus {
  cursor: pointer;
}

.cart__price,
.cart__price-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn-send {
  display: block;
  width: 100%;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #70c05b;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-send:hover {
  color: #ffffff;
  background-color: #ff6633;
  border: 1px solid #ff6633;
}
