@use '../helpers/' as *;

.none {
  display: none;
}

.error {
  width: 400px;
  margin: 20px auto;
  padding: 30px;
  font-size: 20px;
  color: white;
  background-color: #606060;
  border-radius: 15px;
}

.error p {
  text-align: center;
}

.error p a {
  color: white;
}

.h1 {
  padding: 20px;
  text-align: center;
}

.basket {
  position: absolute;
  top: 20px;
  right: 20px;
}

.basket__inner {
  position: relative;
}

.basket__count {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 25px;
  padding: 3px;
  text-align: center;
  color: white;
  background-color: #ff3b30;
  border-radius: 50%;
}

.home {
  position: absolute;
  top: 16px;
  right: 60px;
}

// +++++
.inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

// .product-page
// .product {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   max-width: 600px;
//   width: 100%;
//   border: 1px solid grey;
//   row-gap: 20px;
//   padding: 20px;
// }

// .product__img img {
//   max-width: 400px;
//   width: 100%;
// }
