@use '../helpers' as *;
@use '../../components/header/header-fon';
@use '../../components/header/header-shadow';
@use '../../components/header/burger-2';
@use '../../components/header/menu-header';

.header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    justify-content: end;
    align-items: center;

    @include adaptive-clamp('column-gap', 40, 20);
    @include adaptive-clamp('min-height', 100, 65);
  }

  &__overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &__actions {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(15);
  }

  &__github,
  &__codewars {
    --size: #{rem(44)};

    @include square(var(--size));

    @include hover {
      transform: scale(1.09);
    }
  }
}
