@use '../../styles/helpers/' as *;

.breadcrumbs {
  margin-bottom: rem(30);

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(6);
    color: var(--color-dark);
  }

  &__item {
    display: flex;
    align-items: center;

    & + &::before {
      content: '/';
      margin: 0 7px 0 2px;
      opacity: 0.8;
    }
  }

  &__link {
    @include hover {
      color: var(--color-orange);
    }
  }

  &__current {
    color: var(--color-orange);
  }
}
