@use '../../../styles/helpers/' as *;

.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;

  &__scroll-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    max-width: 1440px;
    height: 100%;
  }

  &__scroll-zone {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 30%;
    height: 100%;
    cursor: ew-resize;
  }

  &__scroll-zone--left {
    left: 0;
  }

  &__scroll-zone--right {
    right: 0;
  }

  &__wrapper {
    overflow-x: auto;
    display: flex;
    align-items: start;
    gap: 20px;
    min-height: 370px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__slide {
    flex: 0 0 auto;
  }
}

@media (pointer: coarse) {
  .slider__scroll-wrapper,
  .slider__scroll-zone {
    display: none;
  }
}
