@use '../../styles/helpers/' as *;

%btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: var(--transition);

  &:active {
    scale: 1.05;
  }

  @include hover {
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
  }

  // @media (max-width: em(375)) {
  //   width: 100%;
  // }
}

.button {
  padding-block: rem(12);
  padding-inline: rem(25);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius);

  @extend %btn;

  &--min {
    padding-block: rem(14);
    padding-inline: rem(20);
  }
}
