.pagination {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 3px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
}

.pagination-item,
.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #84868e;
  background-color: #fdfdfd;
  border: 1px solid #e0dede;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.pagination-item {
  width: 30px;
  height: 30px;
}

.pagination-btn {
  width: 35px;
  height: 30px;
  font-weight: 700;
}

.pagination-item.active {
  color: #ffffff;
  background: #000000;
  border: 1px solid #000000;
}
