@use 'helpers' as *;

// .svg {
//   fill: currentColor;

//   &--20 {
//     width: 20px;
//     height: 20px;
//   }

//   &--40 {
//     width: 40px;
//     height: 40px;
//   }
// }

// .icon-orange {
//   color: var(--color-orange);
// }
