@use './helpers/' as *;

.svg {
  height: 100%;
  transition:
    color 0.3s ease,
    fill 0.3s ease,
    filter 0.3s ease;

  // 1. Логика для МОНОХРОМНЫХ иконок
  &:has(use[href^='#icon-monochrome-']),
  &:has(use[xlink\:href^='#icon-monochrome-']) {
    fill: currentColor;
  }

  // 2. Логика для ЦВЕТНЫХ иконок
  &:has(use[href^='#icon-colored-']),
  &:has(use[xlink\:href^='#icon-colored-']) {
    fill: none;
  }

  &--40 {
    width: 40px;
    height: 40px;
  }

  &--20 {
    width: 20px;
    height: 20px;
  }
}
