@use 'reset';
@use 'fonts/fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'helpers-classes';
@use '../components/video/video-bcg/video-bcg-fon';
@use '../components/form/button';
@use '../components/hover/hover-link';
@use '../components/soc1al/social';
@use '../components/scrollUpButton/scroll-up-button';
@use '../components/scrollDownButton/scrollDownButton';
@use '../components/spollers/spollers';
@use '../components/scroller/scroller';
@use 'blocks/page';
@use 'blocks/common';
@use 'blocks/items';
@use 'blocks/header';
@use 'blocks/footer';
@use 'blocks/hero';
@use 'blocks/second';
@use 'blocks/third';
@use 'blocks/fourth';
@use 'blocks/fifth';
@use '../store/styles/shop';
