@use 'variables';
@use 'reset';

// @use 'svg';
@use 'fonts/fonts';
@use 'utils';
@use 'globals';
@use 'helpers-classes';
@use '../components/video/video-bcg/video-bcg-fon';
@use '../components/form/button';
@use '../components/hover/hover-link';
@use '../components/soc1al/social';
@use '../components/scrollUpButton/scroll-up-button';
@use '../components/scrollDownButton/scrollDownButton';
@use '../components/scroller/scroller';
@use '../components/counter-icon/counter-icon';
@use '../components/popup/popup';
@use '../shop/product-card/card';
@use '../shop/products/products';
@use '../shop/pagination/pagination';
@use '../shop/cart/cart';
@use '../shop/cart/quantity';
@use '../shop/cart/summary';
@use '../shop/cart/cart-item';
@use '../shop/favorite/favorite';
@use '../shop/favorite/favorite-product';
@use '../shop/product-details/product-details';
@use '../shop/product-details/breadcrumbs';
@use 'blocks/page';
@use 'blocks/common';
@use 'blocks/header';
@use 'blocks/footer';
@use 'blocks/hero';
@use 'blocks/about';
@use 'blocks/partners';
