@use '../../styles/helpers/' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 3px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__item,
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: center;
    background-color: #fdfdfd;
    border: 1px solid #e0dede;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
  }

  &__item {
    width: 30px;
  }

  &__item.is-active {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
  }

  &__btn {
    width: 35px;
  }
}

.hidden {
  display: none;
}
