@use '../../styles/helpers/' as *;

.favorite-product {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;

  @include hover {
    background: rgba(93, 113, 221, 0.1);
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__wrapper {
    max-width: 300px;
  }

  &__title,
  &__article {
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    @media (max-width: em(600)) {
      flex-direction: column;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-orange);
  }
}
