@use '../../styles/helpers/' as *;

.favorite-product {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px; // Добавим мягкости
  transition: background-color 0.3s ease;

  @include hover {
    background: rgba(93, 113, 221, 0.05);

    .favorite-product__delete {
      opacity: 1;
    }
  }

  &__image {
    flex-shrink: 0; // Чтобы картинка не сжималась
    overflow: hidden;
    width: 80px; // Немного уменьшим для хедера
    height: 80px;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Важно, чтобы фото не искажалось
    }
  }

  &__wrapper {
    flex-grow: 1; // Занимает всё свободное место
    min-width: 0; // Защита от выпадания длинного текста
  }

  &__title {
    overflow: hidden;
    display: -webkit-box;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    -webkit-line-clamp: 2; // Обрезаем текст после 2-й строки
    -webkit-box-orient: vertical;
  }

  &__article {
    margin-bottom: 4px;
    font-size: 12px;
    color: #ababa5bc;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--color-dark);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    transition: all 0.2s ease;

    img {
      width: 18px;
      height: 18px;
    }

    // Стили для кнопки удаления
    &.favorite-product__delete {
      &:hover {
        background-color: #fff1f1;
        border-color: #ff4d4d;
      }
    }

    // Стили для кнопки корзины
    &.favorite-product__cart {
      background-color: var(--color-orange);
      border-color: var(--color-orange);
    }
  }
}
