@use '../../styles/helpers/' as *;

.burger-button {
  --burger-button-color-line: var(--color-white);
  --burger-button-color-hover: #ffa501;

  display: none;

  @media (max-width: em(767.98)) {
    position: relative;
    z-index: 20; // Выше оверлея и меню
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 1px solid var(--burger-button-color-line);
    border-radius: 0.5rem;
    transition: background-color 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    @include hover {
      background-color: var(--burger-button-color-hover);
    }

    &__inner {
      flex: 0 0 1.75rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 1.5rem;
    }

    &__line {
      width: 100%;
      height: 0.2188rem;
      background-color: var(--burger-button-color-line);
      border-radius: 0.5rem;
      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform-origin: center;

      &:first-child {
        width: 60%;
      }

      &:nth-child(2) {
        width: 80%;
      }
    }

    &.is-active {
      .burger-button__inner {
        transform: rotate(180deg);
      }

      .burger-button__line {
        &:nth-child(2) {
          opacity: 0;
          transform: scaleX(0);
        }

        &:first-child {
          width: 100%;
          transform: translateY(0.625rem) rotate(45deg);
        }

        &:last-child {
          width: 100%;
          transform: translateY(-0.6687rem) rotate(-45deg);
        }
      }
    }
  }
}
