@use '../../styles/helpers/' as *;

.header__overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;

  @media (max-width: em(767.98)) {
    position: fixed;
    z-index: 10;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    .header.is-menu-open & {
      visibility: visible;
      opacity: 1;
    }
  }
}
