@use '../styles/helpers/' as *;

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;

  // color: var(--color-primary);
  background: var(--color-light);
  border: 1px solid var(--color-accent);
  border-radius: 4px;

  @include mobile {
    padding: 4px;
    font-size: 12px;
  }
}
