.close {
  position: absolute;
  top: 0;

  // position: relative;
  right: 5px;
  width: 20px;
  height: 20px;
  padding: 15px;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    width: 2px;
    height: 20px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
