.stapper {
  --stepper-main: #353434;
  --stepper-second: #ffffff;
  --stepper-radius: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  border: 1px solid var(--stepper-main);
  border-radius: var(--stepper-radius);

  &__button {
    padding: 5px 10px;
    color: var(--stepper-second);
    background-color: var(--stepper-main);
    border-radius: var(--stepper-radius);
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__number {
    padding: 5px 10px;
    text-align: center;
    color: var(--stepper-main);
  }
}
