@use './../../styles/helpers/' as *;

.cart {
  padding-top: 130px;
  padding-bottom: 40px;

  &__title {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 350px;
    align-items: start;
    gap: 40px;

    @media (width <= 992px) {
      grid-template-columns: 1fr;
    }
  }
}
