@use './../../styles/helpers/' as *;

.item-cart {
  position: relative;
  padding-top: 40px;
  font-weight: 500;

  &__wrapper {
    display: grid;
    grid-template-rows: 1fr 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  &__model {
    grid-area: 1 / 1 / 2 / 3;
  }

  &__image {
    grid-area: 2 / 1 / 3 / 2;
    overflow: hidden;
    width: 120px;
  }

  &__counter {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
