@use './../../styles/helpers/' as *;

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 4px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    cursor: pointer;
  }

  &__input {
    width: 40px;
    font-weight: 600;
    text-align: center;
    border: none;

    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}
