@use '../../styles/helpers/' as *;

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-white);
  transition: box-shadow 0.3s ease;

  @include hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  &__bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: fluid(15, 10);
  }

  &__actions {
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 15px;
  }

  &__link-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--color-orange);
    background-color: var(--color-white);
    border: 1px solid #eeeeee;
    border-radius: 50%;
    transition: all 0.3s ease;

    svg {
      transition: transform 0.3s ease;
    }

    &.is-active {
      color: var(--color-white);
      background-color: var(--color-orange);
      border-color: var(--color-orange);
    }

    @include hover {
      transform: scale(1.1);

      &:not(.is-active) {
        background-color: #fff9f5;
      }
    }
  }

  &__title {
    font-size: fluid(20, 18);
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-black);

    &:hover {
      color: var(--color-orange);
    }
  }

  &__descr {
    font-size: 14px;
    color: #666666;
  }

  &__article {
    font-size: 14px;
    color: #999999;
  }

  &__price {
    margin-top: auto;
    font-size: fluid(22, 18);
    font-weight: 600;
  }
}
