@use '../../styles/helpers/' as *;

.product {
  background-color: var(--color-white);

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: fluid(10, 5);
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__article {
    font-size: 14px;
  }

  &__price {
    font-size: 22px;
    font-weight: 600;
  }

  &__btn {
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
  }
}
